<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SmartBookingApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var userAccount = new SmartBookingApp.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SmartBooking App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Restaurant", "Index", "Restaurant")</li>
                    <li>@Html.ActionLink("Health&Beauty", "Index", "Health&Beauty")</li>
                    <li>@Html.ActionLink("Music&Entertainment", "Index", " Music&Entertainment")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @{ ViewBag.Title = "Home Page"; }

    <style>
        body {
            background-color: lightskyblue;
        }
    </style>

    <div class="jumbotron">
        <h1 style="color:darkblue">SmartBooking</h1>
        <p></p>
        <p>Booking made easy!</p>



    </div>

    <div class="row">
        <div class="col-md-4">

            <p>> Safe Booking</p>
            <p></p>

            <p></p>
            <p>> No line-ups</p>

            <p>> No Crowds</p>
            <p></p>

            <p>> Alerts you of your appointment</p>
            <p></p>

            <p>> Alerts your destination business when you will arrive</p>
            <p></p>

        </div>
        <div class="col-md-4">
            <h1>Helping Everyone Stay Safe! </h1>
            <p></p>
            <h1> </h1>
            <p>Register Today!</p>
            <p></p>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Hackathon Covid-19 Response - SmartBooking App @DateTime.Now.Year - Team 1</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
